<%- include("partials/header"); -%>

<h1>About</h1>
<div style="padding-left: 5px;">
    <p> <%= aboutContent.aboutWhat %></p>
    <p> <%= aboutContent.aboutIntro %></p>
</div>

<%- include("partials/footer"); -%>