<%- include("partials/header"); -%>

<h1>Contact</h1>
<div style="padding-left:5px ;">
  <p><%= contactContent.Address %></p>
  <p><%= contactContent.Email %></p>
</div>

<%- include("partials/footer"); -%>
